/*Generales*/

#listaCines {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px; /*--Establecer height de los tabs--*/
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}
#listaCines li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
    background: #e0e0e0;
}
#listaCines li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}
#listaCines li a:hover {
    background: #ccc;
}
body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;;
    margin: 0;
}